*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


.titleSevenCards{
    font-size: 18px;
}

.lineSevenCards{
   
    height: 1px;
    border: 1px grey solid;
    margin-top: 10px;
 
}

.iconSevenCards{
    font-size: 57px;
}